<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first"><%= link_to human_action(:index), collection_url %></li>
    <li><%= link_to human_action(:new), new_resource_url %></li>
    <li class="active"><%= link_to human_action(:show), resource_url %></li>
  </ul>
</div>
