<table class="<%= resource_instance_name %> detail">
<% show_fields.each do |field| %>
  <tr>
    <th><%= resource.class.human_attribute_name(field) %></th>
    <td><%= display_field(resource, field) %></td>
  </tr>
<% end %>
</table>
