<table class="<%= resource_instance_name %> detail">
<% resource.attributes.each_pair do |field, value| %>
  <% next if ['id', 'created_at', 'updated_at'].include?(field) %>
  <tr>
    <th><%= resource.class.human_attribute_name(field) %></th>
    <td><%= value %></td>
  </tr>
<% end %>
</table>
